.board {
    position : relative ;
    box-sizing : border-box ;
    width : 100% ;
}

.board:after {
    content : "" ;
    display : block ;
    padding-bottom : 100% ;
}

.grid {
    position : absolute ;
    display : grid ;
    box-sizing : border-box ;
    width : 100% ;
    height : 100% ;
    padding : 2.5% ;
    background-color : steelblue ;
    grid-template-columns : repeat(3, 1fr) ;
    grid-gap : 2.5% ;
}

.cell {
    background-image: url(https://image.freepik.com/free-photo/green-grass-pattern-texture-background-close-up_64749-2296.jpg);    
    cursor : pointer ;
    }
 
.cell.win {
    background-size: 110%;
    background-image: url(https://image.freepik.com/photos-gratuite/feux-artifices-dans-fond-du-ciel-sombre_1373-262.jpg);
}

.symbol {
    width : 100% ;
    height : 100% ;
}

.cell.player1 .symbol {
    background-color : red ;
    -webkit-mask-image : url('cross.svg') ;
    -webkit-mask-repeat : no-repeat ;
    -webkit-mask-size : cover ;
    mask-image : url('cross.svg') ;
    mask-repeat : no-repeat ;
    mask-size : cover ;
}

.cell.player2 .symbol {
    background-color : darkblue ;
    -webkit-mask-image : url('circle.svg') ;
    -webkit-mask-repeat : no-repeat ;
    -webkit-mask-size : cover ;
    mask-image : url('circle.svg') ;
    mask-repeat : no-repeat ;
    mask-size : cover ;
}

#Titre {
    color: black;
    background: #eee;
    padding: 10px 0;
    text-align: center;
    font-size: auto;
  }

#StatutJeu {
    color: black;
    background: #eee;
    padding: 10px 0;
    text-align: center;
    font-size: auto;
  }

#recapitulatif{
    text-align: center;
    margin: 1em auto 0.5em;
    font-family: 'Roboto', sans-serif;

    th{
        padding: 1em 2em;
    }

    td{
        padding: 1em 2em;
    }
}